BasedOnStyle: LLVM
Language: Cpp

# Function formatting
BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: None

# Indentation / width
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Avoid single line shenanigans
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

# Spacing
SpaceBeforeParens: ControlStatements
DerivePointerAlignment: false
PointerAlignment: Left

# Includes: sort + group reasonably
SortIncludes: true
IncludeBlocks: Regroup
